body{
    font-family: 'Times New Roman', Times, serif;
    margin: 30%;
    padding: 20;
    background-color: #d8d8d8;
    
    }

h1{
    text-align: center;
    color: black;
    
    font-size: 300%;
    }

form{
    max-width: 600px;
    margin: auto;
    background-color:#d8d8d8;
    border-radius: 15px;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.5);
    padding: 20px;
    align-content: center;
}    

fieldset{
    border: solid navy;
    border-radius: 10px;
    text-align: left;
    font-weight:  bold;
}

legend{
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    }
label{
    display: block;
    margin-top: 10px;
    color: #2c3e50;
    }
input, textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid hwb(240 6% 8%);
    border-radius: 4px;
    box-sizing: border-box;
    }
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(46, 217, 239);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    }
    
    button:hover{
    background-color: rgb(126, 121, 187);
    }